# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
.vscode/


# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/

# Dockerfile projects folder for restore-packages script
csproj-files

# Uncomment if you have tasks that create the project's static files in wwwroot
**/wwwroot/lib/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

tests-results/

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
# NuGet v3's project.json files produces more ignoreable files
*.nuget.props
*.nuget.targets


# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/


# Others
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.publishsettings
node_modules/
orleans.codegen.cs

# SQL Server files
*.mdf
*.ldf


# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/apps/client/dist
/apps/client/tmp
/apps/client/out-tsc

# dependencies
/apps/client/node_modules

# IDEs and editors
/apps/client/.idea
/apps/client/.project
/apps/client/.classpath
/apps/client/.c9/
/apps/client/*.launch
/apps/client/.settings/
/apps/client/*.sublime-workspace

# IDE - VSCode
/apps/client/.vscode/*
/apps/client/!.vscode/settings.json
/apps/client/!.vscode/tasks.json
/apps/client/!.vscode/launch.json
/apps/client/!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/apps/client/npm-debug.log
/apps/client/yarn-error.log
/apps/client/testem.log
/apps/client/typings

# System Files
/apps/client/.DS_Store
/apps/client/Thumbs.db

# Ignore HealthCheckdb
*healthchecksdb*

