<mat-toolbar color="primary" class="navbar">
    <mat-toolbar-row>
      <a class="navbar-brand" routerLink="/">com.unity</a>
      <div>
        <a mat-button [routerLink]="'/accounts'" class="navbar-link"> Create a project </a>
      </div>
      <ul *ngIf="!isLoggedIn">
        <li>
          <a routerLink="/login" routerLinkActive="active">Sign in</a>
        </li>
        <li>
          <a routerLink="/register" routerLinkActive="active">Sign up</a>
        </li>
      </ul>
      <ul *ngIf="isLoggedIn">
        <li>
          <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li>
          <a routerLink="/editor" routerLinkActive="active">
            <i></i>&nbsp;New Post
          </a>
        </li>
        <li>
          <a routerLink="/settings" routerLinkActive="active">
            <i></i>&nbsp;Settings
          </a>
        </li>
        <li>
          <a [routerLink]="['/profile', user.username]" routerLinkActive="active">
            <img [src]="user.image" *ngIf="user.image"/> {{ user.username }}
          </a>
        </li>
      </ul>
    </mat-toolbar-row>
  </mat-toolbar>
